.text-highlighter-yellow {
  background-color: #ffff00;
  cursor: pointer;
  padding: 1px 2px;
  border-radius: 2px;
  color: #000000 !important;
}

.text-highlighter-yellow:hover {
  background-color: #e5d654;
}